.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.producto{
  
  height: 300px;
  padding: 40px;

}

.contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 50px;

}

.boton{
  border: 3px solid white;
	border-radius: 6px;
  font-size: calc(10px + 1vmin);
  color: white;
  background-color: #282c34;
  padding: 10px;

}
.imagen{
  height: 150px;
	width: 100%;
	object-fit:contain;
  background-color: white;
  border: 3px solid black;
	border-radius: 6px;
}
